# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages in Data Science
* List commonlu used libraries used by Data Scientists
* Table Data Science Tools
* Show examples of evaluating arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Java Script
6. Julia
7. Scala
8. C/C++

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. SciPy
3. TensorFlow
4. Pandas
5. Matplotlib
6. Keras
7. Sci-Kit Learne
8. PyTorch

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [11]:
200/60

3.3333333333333335

## Author
Linford Dean